.dashBoardContainer {
  background-image: url(../../images/dasboard-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  height: 500px;
}
