.regesterdBox-Cont {
  width: 50%;
  margin: 0 auto;
  background-color: gainsboro;
  padding: 50px 10px;
}
.regesterFeild {
  display: block;
  width: 90%;
  padding: 6px 0px;
  margin: 0 auto;
  margin-top: 8px;
  border-top: none;
  border-left: none;
  border-right: none;
  outline: none;
  background-color: gainsboro;
  text-align: center;
}

@media (min-width: 300px) and (max-width: 800px) {
  .regesterdBox-Cont {
    width: 100%;
    padding: 10px 0px;
    margin-top: 30px;
  }
}
