.award-container {
  /* background-image: url(../../images//award-bg.png);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; */
  padding: 45px 0px;
  margin-top: -100px;
}
.award-container .award-box {
  background-color: red;
}
@media (min-width: 300px) and (max-width: 660px) {
  .award-Box {
    width: 100%;
  }
  .award-container {
    margin-top: 0px;
  }
}
