.product-box {
  padding: 40px 0px;
}
.product-info {
  margin: 30px 0px;
  text-align: center;
  font-weight: 700;
}
.products-card {
  position: relative;
}
.searche-btn {
}
.searche-btn {
  font-size: 50px;
  display: none;
  position: absolute;
  top: 60px;
  left: 110px;
  color: tomato;
  border: 2px solid white;
  padding: 5px;
}
.products-card:hover .searche-btn {
  display: block;
}
.rating-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 8px;
}
