.footerContainer {
  background-image: url(../../images/footer-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-color: rgba(255, 255, 255, 0.5);
  background-blend-mode: lighten;
  padding: 40px 0px;
  color: black;
}
.subsCribeForm {
  position: relative;
}
.subscribeEmailFeild {
  padding: 15px;
  border: none;
  border-radius: 25px;
  width: 72%;
  outline: none;
}
.subscibeBtn {
  position: absolute;
  right: 82px;
  top: 7px;
  padding: 8px;
  border-radius: 50px;
  border: none;
  background-image: linear-gradient(to left, orange, tomato);
}
.subscibeBtn .emailIcon {
  border-radius: 25px;
}
